/*==========================================================================*/
/*                                                                          */
/*  Projet EWTS-rt                                                          */
/*  Fichier : style.css                                                     */
/*  Emplacement : /style/style.css                                          */
/*                                                                          */
/*  DEV : Cyril ESCLASSAN (cesclass)                                        */
/*                                                                          */
/*==========================================================================*/


@font-face 
{
    font-family: 'esphimere';
    src: url('../src/font/esphimere.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}


body
{
    background-color: #CCCCCC;
    color: black;
    font-family: Arial;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}


*:focus
{
    outline: none;
}


h2.page
{
    color: #3399FF;
    font-size: 3.2em;
    font-family: "esphimere", Arial;
}


img.title
{
    width: 80%;
    height: 80%;
    padding-top: 5%;
    padding-left: 10%;
}


div.master
{
    margin-left: 15.5%;
    padding-top: 1px;
}


div.page
{
    padding: 0;
    margin: 0;
}


div.navig
{
    color: white;
    position: fixed;
    float: left;
    min-height: 100vh;
    width: 14%;
    background-color: #555555;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}


ul.navig
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
    font-family: "esphimere", Arial;
}


li.navig
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}


li.navig:hover
{
    cursor: pointer;
}

/*
li.navig:hover
{
    background-color: #66cc00;
    border-left-color: #408000;
    border-left-style: solid;
    border-left-width: 25px;
    padding-left: 15px;
    cursor: pointer;
}
*/


footer.copyR
{
    padding-top: 20%;
}


table
{
    border-collapse: collapse;
    background-color: #F0F0F0;
}


td, th
{
    padding: 5px 20px 5px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #0066CC;
}


th
{
    font-weight: bold;
}
