/* style.css */

body
{
    background-color: #303030;
    color: #E5E5E5;
    font-family: Arial;
    font-size: 1.1em;
}

div
{
    margin-left: 10px;
}

button
{
    border-style: solid;
    border-width: 2px;
    border-color: #0066cc;
    border-radius: 6px;
    background-color: #0066cc;
    color: white;
    font-size: 1.1em;
    margin-top: 30px;
    margin-left: 30px;
}

button:hover
{
    border-style: solid;
    border-width: 2px;
    border-color: #0066cc;
    border-radius: 6px;
    background-color: white;
    color: #0066cc;
}

*:focus
{
    outline: none;
}

.tabul
{
    margin-left: 30px;
}

#titre
{
    float: left;
}

#trame
{
    clear: both;
}