/* style.css */

body
{
    background-color: #202020;
    color: #E5E5E5;
    font-family: Arial;
    font-size: 1.1em;
}

h1
{
    font-size: 2em;
}

div
{
    margin-left: 10px;
}

button
{
    border-style: solid;
    border-width: 2px;
    border-color: #cc0099;
    border-radius: 6px;
    background-color: #cc0099;
    color: white;
    font-size: 1.1em;
    margin-top: 25px;
    margin-left: 30px;
    padding: 5px 5px 5px 5px;
}

button:hover
{
    border-style: solid;
    border-width: 2px;
    border-color: #cc0099;
    border-radius: 6px;
    background-color: white;
    color: #cc0099;
    font-size: 1.1em;
}

*:focus
{
    outline: none;
}

#titre
{
    float: left;
}

#infos
{
    clear: both;
}

table
{
    border-collapse: collapse;
    background-color: #303030;
}

td, th
{
    padding: 5px 20px 5px 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #cc0099;
}

th
{
    font-weight: bold;
}
